svcs 
edgedb 
fastapi 
httpx[cli] 
uvicorn
pytest
pytest-asyncio
pytest-mock
pytest-faker
pytest-repeat
pydantic-settings
fastui
tzdata 
pytest-cov
structlog
asgi-correlation-id
rich
colorama
stamina
# python-multipart
# starlette-csrf